{% extends "base.twig" %}

{% block content %}

<main id="main" class="main" role="main">
    
    {# BEGIN HERO SECTION #}
    <section id="hero" class="section py-18" x-data="{ open: false }">
        <div class="container">
            <div class="hero__grid">
                <div class="hero__left">
                    <h1 class="hero__heading mb-2">Connecting People to the Outdoors</h1>
                    <p class="hero__subheading mb-4">Integrating outdoor activity into our national identity.</p>
                    <a href="/sign-up" class="btn btn--primary">Become a member →</a>
                </div>
                <div class="hero__right">
                    <div class="hero__right__img">
                        <button class="hero__play-btn" @click="open = true"></button>
                    </div>
                    <p class="hero__right__copy">Click on the button<br/>to watch our video!</p>
                </div>
            </div> 
        </div>
        <div class="hero__modal" x-cloak x-show="open" x-transition>
            <div class="hero__modal__content">
                <div class="hero__video-wrapper">
                    <iframe class="hero__video" src="https://www.youtube-nocookie.com/embed/tNaRQ2HmyTQ?controls=0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
                <button class="hero__modal__close" @click="open = false">Close</button>       
            </div> 
        </div>
    </section>
    {# END HERO SECTION #}

    {# BEGIN OPTIN SECTION #}
    <section id="resources" class="section py-18">
        <div class="container">
            <div class="section__helmet">
                <p class="badge">Free downloads</p>
                <h2 class="section__heading">Free Resources</h2>
            </div>
            <div class="resources__wrapper">
                {% for post in optins %}
                <div class="resources__card">
                    <h3 class="resources__heading">{{ post.title }}</h3>
                    <p class="resources__summary">{{ post.description }}</p>
                    <img src="{{ Image(post.meta('image')).src }}" alt="" class="resources__img">
                    <a href="{{ post.link }}" target="_blank" class="btn btn--secondary"><span class="download-icon"></span>Download now</a>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {# END OPTIN SECTION #}

    {# BEGIN PROJECTS SECTION #}
    <section id="projects" class="section pt-36 pb-18">
        <div class="container">
            <div class="section__helmet--projects">
                <h2 class="section__heading">Our Projects</h2>
            </div>
            <div class="projects__wrapper" x-data="{ tab: '1' }">
                <div class="projects__tabs-wrapper">
                {% for post in projects %} 
                    <a href="#" class="projects__tab" :class="{ 'active': tab === '{{ post.meta('order') }}' }" @click.prevent="tab = '{{ post.meta('order') }}'">{{ post.meta('order') }}. {{ post.title }}</a>
                {% endfor %}
                </div>
                <div class="projects__card__wrapper">
                {% for post in projects %} 
                    <div id="{{ post.meta('meta') }}" class="projects__card" x-show="tab === '{{ post.meta('order') }}'">
                        <div class="projects__left">
                            <h2 class="projects__heading">{{ post.title }}</h2>
                            <p class="projects__subheading">{{ post.meta('description') }}</p>
                            <a href="{{ post.link }}" class="btn btn--primary">Learn more →</a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {# END PROJECTS SECTION #}

    {# BEGIN ABOUT SECTION #}
    <section id="about" class="section py-18">
        <div class="container">
            <div class="section__helmet">
                <h2 class="section__heading">Who We Are</h2>
                <p class="section__subheading">The Outdoor Council of Canada (OCC) is the umbrella organization for the Canadian outdoor sector. The OCC addresses structural barriers hindering the ability of outdoor programs to reach their full impact.</p>
            </div>
            <div class="about__wrapper">
                <div class="about__left">
                    <div class="about__testimonial">
                        <p class="testimonial__copy">"The timing of bringing the OCC to Nova Scotia was perfect. There was a community of outdoor practitioners who were looking for something to unite them, and also provide training. The OCC was that vehicle. We started a regional chapter and developed a partnership with Hike Nova Scotia, and the result has been a stronger and more proficient outdoor community."</p>
                        <div class="testimonial__details">
                            <p class="testimonial__author">—John Glynn-Morris</p>
                            <p class="testimonial__role">Ex-Hike Nova Scotia Board Member</p>
                        </div>
                    </div>
                </div>
                <div class="about__right">
                    <article class="prose mb-10">
                        <p><strong>OCC members represent the thousands of individuals and businesses who bring Canadians outdoors.</strong> Every year, these people offer powerful experiences to millions of Canadians and contribute billions of dollars to the Canadian economy.</p>
                        <p>For us, success means creating a reality where outdoor programs and their staff are recognized for their true value, the unfair risk perception associated with going outdoors is eliminated, governments invest to develop the sector, and other unnecessary barriers such as unreasonable insurance premiums are removed.</p>
                        <p>The outdoor sector has a wealth of passionate individuals abounding in expertise, and dozens of organizations dedicated to bringing real value to their community. However, the lack of cohesion in individual efforts leads to an incalculable amount of wasted resources.</p> 
                        <p>The OCC saves time and resources by facilitating the process of creating a true national outdoor community. One where our contributions and expertise is valued as we support each other in achieving shared goals. Outdoor programs are experts at building community in the field, now it is time to do the same when back at the office. By promoting collaboration within the sector we increase the power of your voices, and leverage our collective experience and knowledge to advance our individual and collective missions.</p>
                    </article>
                    <a href="/our-history" class="btn btn--secondary">Read more</a>
                </div>
            </div>
        </div>
    </section>
    {# END ABOUT SECTION #}

    {# BEGIN COURSES SECTION #}
    <section id="courses" class="section pt-36 pb-18">
        <div class="container">
            <div class="section__helmet">
                <h2 class="section__heading">Upcoming Courses</h2>
            </div>
            <div>
                {{ post.content }}
            </div>
        </div>
    </section>
    {# END COURSES SECTION #}

    {% include 'partials/carousel.twig' %}

    {# BEGIN CAROUSEL SECTION #}
    <section id="carousel" class="section pt-18 pb-9">
        <div class="container">
            <div class="carousel">
                <div class="carousel__wrapper">
                    <div class="carousel__slide">
                        <img src="{{ theme.path ~ '/static/img/aequebec.svg'}}" alt="" class="carousel__logo--aeq">
                    </div>
                    <div class="carousel__slide">
                        <img src="{{ theme.path ~ '/static/img/black-diamond.svg'}}" alt="" class="carousel__logo--black-diamond">
                    </div>
                    <div class="carousel__slide">
                        <img src="{{ theme.path ~ '/static/img/cwf-english.svg'}}" alt="" class="carousel__logo--cwf">
                    </div>
                    <div class="carousel__slide">
                        <img src="{{ theme.path ~ '/static/img/expertvoice.svg'}}" alt="" class="carousel__logo--expert-voice">
                    </div>
                    <div class="carousel__slide">
                        <img src="{{ theme.path ~ '/static/img/hikens.svg'}}" alt="" class="carousel__logo--hikens">
                    </div>
                    <div class="carousel__slide">
                        <img src="{{ theme.path ~ '/static/img/iga.svg'}}" alt="" class="carousel__logo--iga">
                    </div>
                    <div class="carousel__slide">
                        <img src="{{ theme.path ~ '/static/img/joelette.svg'}}" alt="" class="carousel__logo--joelette">
                    </div>
                    <div class="carousel__slide">
                        <img src="{{ theme.path ~ '/static/img/ucalgary.svg'}}" alt="" class="carousel__logo--ucalgary">
                    </div>
                    <div class="carousel__slide">
                        <img src="{{ theme.path ~ '/static/img/viristar.svg'}}" alt="" class="carousel__logo--viristar">
                    </div>
                    <div class="carousel__slide">
                        <img src="{{ theme.path ~ '/static/img/zoppinh.svg'}}" alt="" class="carousel__logo--zoppinh">
                    </div>
                    <div class="carousel__slide">
                        <img src="{{ theme.path ~ '/static/img/aequebec.svg'}}" alt="" class="carousel__logo--aeq">
                    </div>
                    <div class="carousel__slide">
                        <img src="{{ theme.path ~ '/static/img/black-diamond.svg'}}" alt="" class="carousel__logo--black-diamond">
                    </div>
                    <div class="carousel__slide">
                        <img src="{{ theme.path ~ '/static/img/cwf-english.svg'}}" alt="" class="carousel__logo--cwf">
                    </div>
                    <div class="carousel__slide">
                        <img src="{{ theme.path ~ '/static/img/expertvoice.svg'}}" alt="" class="carousel__logo--expert-voice">
                    </div>
                    <div class="carousel__slide">
                        <img src="{{ theme.path ~ '/static/img/hikens.svg'}}" alt="" class="carousel__logo--hikens">
                    </div>
                    <div class="carousel__slide">
                        <img src="{{ theme.path ~ '/static/img/iga.svg'}}" alt="" class="carousel__logo--iga">
                    </div>
                    <div class="carousel__slide">
                        <img src="{{ theme.path ~ '/static/img/joelette.svg'}}" alt="" class="carousel__logo--joelette">
                    </div>
                    <div class="carousel__slide">
                        <img src="{{ theme.path ~ '/static/img/ucalgary.svg'}}" alt="" class="carousel__logo--ucalgary">
                    </div>
                    <div class="carousel__slide">
                        <img src="{{ theme.path ~ '/static/img/viristar.svg'}}" alt="" class="carousel__logo--viristar">
                    </div>
                    <div class="carousel__slide">
                        <img src="{{ theme.path ~ '/static/img/zoppinh.svg'}}" alt="" class="carousel__logo--zoppinh">
                    </div>
                </div>
            </div>
        </div>
    </section>
    {# END CAROUSEL SECTION #}

    {# BEGIN MEMBER SECTION #}
    <section id="member" class="section pt-9">
        <div class="container">
            <div class="member__card">
                <div class="member__content">
                    <h2 class="member__heading">Become a member</h2>
                    <p class="member__subheading">If you care about the transformational power of going outdoors and increasing the number of people accessing these experiences, join our efforts and become a member.</p>
                    <a href="/sign-up" class="btn btn--primary">Join us →</a>
                </div>
            </div>
        </div>
    </section>
    {# END MEMBER SECTION #}

    {# BEGIN CONTACT SECTION #}
    <section id="contact" class="section">
        <div class="container">
            <div class="section__helmet">
                <h2 class="section__heading">Contact Us</h2>
            </div>
            {{ post.meta('contact_form_code') }}
{#             <form id="contact-form" class="form" action="POST">
                <input type="text" placeholder="First name" id="first-name" required>
                <input type="text" placeholder="Last name" id="last-name" required>
                <input type="email" placeholder="Enter your email address" id="email" required>
                <textarea name="message" id="message" resize="none" placeholder="Type your message here"></textarea>
                <input type="submit" value="Submit" id="submit">
            </form> #}
            <div class="contact__email-wrapper">
                <p class="contact__email__copy">Or just email<br/>
                    <a href="mailto:admin@outdoorcouncil.ca" class="contact__email">admin@outdoorcouncil.ca</a>
                </p>
            </div>
        </div>
    </section>
    {# END CONTACT SECTION #}

    {% include "partials/mountains.twig" %}

</main>

{% include 'partials/hello-bar.twig' %}

{% endblock %}