{% extends "base.twig" %}

{% block content %}

<main id="main" class="main" role="main">

{# BEGIN HERO SECTION #}
<section id="hero--page" class="section section--hero">
    <div class="container">
        <div class="hero__wrapper">
            <h1 class="hero__heading--page">{{ post.title }}</h1>
            {% if post.meta('has_button') %}
                <a href="/sign-up" class="btn btn--primary">Become a member →</a>
            {% endif %}
        </div>
    </div>
</section>
{# END HERO SECTION #}

{# BEGIN CONTENT SECTION #}
<section id="content" class="section pt-18">
    <img src="{{ theme.path ~ '/static/img/leaf.svg'}}" alt="" class="content__leaf">
    <img src="{{ theme.path ~ '/static/img/moose.svg'}}" alt="" class="content__moose">
    <div class="container">
        <div class="content__wrapper">
            <article id="post-{{ post.ID }}" class="prose--cos post-type-{{ post.post_type }}">
                {{ post.content }}
            </article>
        </div>
    </div>
</section>
{# END CONTENT SECTION #}

{% include "partials/mountains.twig" %}

</main>

{% endblock %}